{% extends "blog/base.html" %}
{% block content %}

{% for post in post_list %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">Published on: {{ post.published_date|date:"D-M-Y" }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'blog:post_details' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>{{post.text|truncatechars:50}}</p>
    <a href="{% url 'blog:post_details' pk=post.pk %}">Comments: {{post.approve_comments.count}}</a>
  </div>
</article>
{% endfor %}

{% endblock %}
